body.light {
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(48% 0.243 264.376);
    --color-primary-content: oklch(93% 0.034 272.788);
    --color-secondary: oklch(42% 0.199 265.638);
    --color-secondary-content: oklch(97% 0.014 254.604);
    --color-accent: oklch(76% 0.177 163.223);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(37% 0.013 285.805);
    --color-neutral-content: oklch(96% 0.001 286.375);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(72% 0.219 149.579);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

body.dark {
    /*--color-base-100: oklch(28.822% 0.022 277.508);*/
    /*--color-base-200: oklch(26.805% 0.02 277.508);*/
    /*--color-base-300: oklch(24.787% 0.019 277.508);*/
    /*--color-base-content: oklch(97.747% 0.007 106.545);*/
    /*--color-primary: oklch(62% 0.214 259.815);*/
    /*--color-primary-content: oklch(12% 0.042 264.695);*/
    /*--color-secondary: oklch(54% 0.245 262.881);*/
    /*--color-secondary-content: oklch(14.84% 0.029 301.883);*/
    /*--color-accent: oklch(69% 0.17 162.48);*/
    /*--color-accent-content: oklch(16.678% 0.024 66.558);*/
    /*--color-neutral: oklch(39.445% 0.032 275.524);*/
    /*--color-neutral-content: oklch(87.889% 0.006 275.524);*/
    /*--color-info: oklch(88.263% 0.093 212.846);*/
    /*--color-info-content: oklch(17.652% 0.018 212.846);*/
    /*--color-success: oklch(87.099% 0.219 148.024);*/
    /*--color-success-content: oklch(17.419% 0.043 148.024);*/
    /*--color-warning: oklch(95.533% 0.134 112.757);*/
    /*--color-warning-content: oklch(19.106% 0.026 112.757);*/
    /*--color-error: oklch(68.22% 0.206 24.43);*/
    /*--color-error-content: oklch(13.644% 0.041 24.43);*/
    /*--radius-selector: 0.5rem;*/
    /*--radius-field: 0.25rem;*/
    /*--radius-box: 0.5rem;*/
    /*--size-selector: 0.25rem;*/
    /*--size-field: 0.21875rem;*/
    /*--border: 1px;*/
    /*--depth: 1;*/
    /*--noise: 0;*/

    --color-base-100: oklch(0.2161 0.0061 303.89);
    --color-base-200: oklch(0.1456 0.0028 303.89);
    --color-base-300: oklch(0.267 0.0058 303.89);
    --color-base-content: oklch(97.747% 0.007 106.545);
    --color-primary: oklch(0.7375 0.1677 303.89 / 0.2);
    --color-primary-content: oklch(0.7375 0.1677 303.89);
    --color-secondary: oklch(0.5453 0.1677 303.89 / 0.2);
    --color-secondary-content: oklch(0.7375 0.1677 303.89);
    --color-accent: oklch(83.392% 0.124 66.558);
    --color-accent-content: oklch(16.678% 0.024 66.558);
    --color-neutral: oklch(0.267 0.0037 303.89);
    --color-neutral-content: oklch(0.7071 0.0027 303.89);
    --color-info: oklch(0.6271 0.1699 248.3);
    --color-info-content: oklch(17.652% 0.018 212.846);
    --color-success: oklab(0.627052 -0.145969 0.0869672);
    --color-success-content: oklch(0% 0 0);
    --color-warning: oklab(0.68064 0.0348215 0.137956);
    --color-warning-content: oklch(19.106% 0.026 112.757);
    --color-error: oklch(0.6271 0.1699 25.79);
    --color-error-content: oklch(13.644% 0.041 24.43);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

.badge-soft {
    border-color: currentColor;
}
.alert-soft {
    border-color: currentColor;
    color: var(--alert-color);
    box-shadow: none;
    background-image: none;
}

input,
select{
    outline: none
}